# Core dependencies
telethon>=1.40.0
requests>=2.32.3
psutil>=7.0.0
python-dotenv>=1.1.0  # For loading .env files

# Optional dependencies
cryptg>=0.5.0  # For faster downloads
pillow>=11.2.1  # For image processing
aiohttp>=3.11.18  # For async HTTP requests
hachoir>=3.3.0  # For validation

# Dev / testing (optional)
pytest>=8.2.0
mypy>=1.10.0